{% extends "layout.html" %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block header %}{% endblock %}

{% block content %}
<!-- Carousel -->
<div class="carousel__container">
    {% if highlights %}
    <ul class="carousel large">
        {% for h in highlights %}
            <li class="{% if forloop.first %}active {% elif forloop.last %}prev {% elif forloop.counter == 2 %}next {% endif %}">

            <a href="{{ h.get_absolute_url }}"><img src="{{ h.primary_image.original.url }}" alt="{{ h.get_title }}" /></a>

                <hgroup>
                <h2>{{ h.slogan }}</h2>
                </hgroup>
                {% if h.has_details %} 
                    <a href="{{h.get_absolute_url}}" class="carousel__details"><span class="icon plus"></span><span class="text">подробнее</span></a>
                {% endif %}
            </li>
        {% endfor %}

            {% comment %}
        <li class="next">
        <img src="http://s24.postimg.org/inmlaevxx/globus.jpg" alt="" />
        <hgroup>
            <h2>Издательский дом «Практика» выполняет заказы на переводы 
                для фармацевтических компаний, медицинских учреждений и частных заказчиков.</h2>
        </hgroup>
        <a href="#" class="carousel__details"><span class="icon plus"></span><span class="text">подробнее</span></a>
        </li>
        <li>
        <img src="http://s24.postimg.org/inmlaevxx/globus.jpg" alt="" />
        <hgroup>
            <h2>Предлагаем услуги по размещению рекламных модулей фармацевтической продукции для фарм-компаний</h2>
        </hgroup>
        <a href="#" class="carousel__details"><span class="icon plus"></span><span class="text">подробнее</span></a>
        </li>
        <li>
        <img src="http://s24.postimg.org/inmlaevxx/globus.jpg" alt="" />
        <hgroup>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio commodi!</h2>
        </hgroup>
        <a href="#" class="carousel__details"><span class="icon plus"></span><span class="text">подробнее</span></a>
        </li>
        <li>
        <img src="http://s24.postimg.org/inmlaevxx/globus.jpg" alt="" />
        <hgroup>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat impedit?</h2>
        </hgroup>
        <a href="#" class="carousel__details"><span class="icon plus"></span><span class="text">подробнее</span></a>
        </li>
        <li class="prev">
        <img src="http://s24.postimg.org/inmlaevxx/globus.jpg" alt="" />
        <hgroup>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maiores quae necessitatibus?</h2>
        </hgroup>
        <a href="#" class="carousel__details"><span class="icon plus"></span><span class="text">подробнее</span></a>
        </li>
        {% endcomment %}
    </ul>
    {% endif %}
    <div class="carousel-control-container">
        <a class="left carousel-control" href="#" data-slide="prev"><span class="button left-arrow-small"></span></a>
        <a class="right carousel-control" href="#" data-slide="next"><span class="button right-arrow-small"></span></a>
    </div>
</div>
<!-- Goods -->

{% if products %}
<div class="goods-cutter">
    <ul class="goods">
        {% for product in products %}
        {% if forloop.first %}<li>{% else %}</li><li>{% endif %}{% render_product product %}{% if forloop.last %}</li>{% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock content %}
{% block extrascripts %}
    {% include "partials/basket_extrascripts.html" %}
    {{ block.super }}
{% endblock %}
