<footer>
    {% block footer %}
    <div class="main_footer">
        <div class="career"><a href="/authors" class="career__authors"><span class="icon info-black"></span><span class="text">авторам</span></a>
            <a href="/translate" class="career__translate"><span class="text">переводы</span></a>
        </div>
        <div class="right-align">
            <div class="phone-number"><span>+7&nbsp;&nbsp;495&nbsp;&nbsp;921&nbsp;&nbsp;2204</span>
            </div>
            <div class="mailto"><a href="mailto:practica@practica.ru">practica@practica.ru</a>
            </div>
            <div class="copy"><span class="copy__sign">©&nbsp;</span> <span>Издательский&nbsp;дом&nbsp;«Практика»</span><span class="copy__year">&nbsp;&nbsp;2014</span>
            </div>
        </div>
    </div>
    {% endblock %}
</footer>
