{% load i18n %}

<div class="topbar">
    <div class="social">
        <a href="https://www.facebook.com/practica.publ"><span class="icon social-f"></span>139</a>
        <a href=""><span class="icon social-b"></span>892</a>
    </div>
    <div class="user">
        {% if user.is_authenticated %}
            {% if user.is_staff or perms.partner.dashboard_access %}
                <a href="{% url 'dashboard:index' %}"><span class="icon enter"></span><span class="text">управление</span></a>
            {% else %}
                {% if num_unread_notifications > 0 %}
                    {# if user has new notifications - we change account link to go to inbox #}
                    <a href="{% url 'customer:notifications-inbox' %}"><span class="icon enter"></span><span class="text">аккаунт ({{ num_unread_notifications }})</span></a>
                {% else %}
                    <a href="{% url 'customer:summary' %}"><span class="icon enter"></span><span class="text">аккаунт</span></a>
                {% endif %}
            {% endif %}
            <a href="{% url 'customer:logout' %}"><span class="text">выйти</span></a>
        {% else %}
            <a href="#" class="trigger"><span class="icon enter"></span><span class="text">войти</span></a>
            <a href="{% url 'customer:register' %}"><span class="text">регистрация</span></a>
        {% endif %}
    </div>
    <div class="conditions">
        <a href="/shipping/"><span class="icon delivery"></span><span class="text">доставка</span></a>
        <a href="/payment/"><span class="icon payment"></span><span class="text">оплата</span></a>
    </div>
    <div class="about">
        <a href="/about/"><span class="icon info"></span><span class="text">издательство</span></a>
        <a href="/contact/"><span class="icon envelope"></span><span class="text">контакты</span></a>
    </div>
</div>
