{% load practica_category_tags %}

<div class="nav__container ">
    <a href="#" data-slide="prev" class="nav-control left"><span class="button left-arrow-big"></span></a>
    <a href="#" data-slide="next" class="nav-control right"><span class="button right-arrow-big"></span></a>
    <div class="nav__container-inner">
        {% block nav_dropdown %}
        <ul class="nav">
            {% category_tree depth=1 parent=1 as tree_categories %}
            {% if tree_categories %}
                {% for tree_category, info in tree_categories %}
                    <li {% if tree_category.pk == category.pk %}class="current"{% endif %}>
                    {% if tree_category.pk == category.pk %}
                        <span class="selected-category">{{ tree_category.name|lower }}</span>
                        {% else %}
                        <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name|lower }}</a>
                    {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        {% endblock %}
    </div>
        <div class="show-all"><a href="#show-all">показать все</a></div>
</div>
            
