{% load i18n %}

    <div class="user">
        {% if user.is_authenticated %}
            {% if user.is_staff or perms.partner.dashboard_access %}
                <a href="{% url 'dashboard:index' %}"><span class="icon enter"></span><span class="text">управление</span></a>
            {% else %}
                {% if num_unread_notifications > 0 %}
                    {# if user has new notifications - we change account link to go to inbox #}
                    <a href="{% url 'customer:notifications-inbox' %}"><span class="icon enter"></span><span class="text">аккаунт ({{ num_unread_notifications }})</span></a>
                {% else %}
                    <a href="{% url 'customer:summary' %}"><span class="icon enter"></span><span class="text">аккаунт</span></a>
                {% endif %}
            {% endif %}
            <a href="{% url 'customer:logout' %}"><span class="text">выйти</span></a>
        {% else %}
            <a href="#" class="trigger"><span class="icon enter"></span><span class="text">войти</span></a>
            <a href="{% url 'customer:register' %}"><span class="text">регистрация</span></a>
        {% endif %}
    </div>
