
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

<article class="details">
    <header>
        <div class="social"> 
            <a href=""><span class="icon social-f"></span></a>
            <a href=""><span class="icon social-b"></span></a>
        </div>
        <div class="series"><a href="{{ product.serie.get_absolute_url }}">{{ product.serie.name }}</a></div>
        <div class="close"><a href="#close"><span class="icon x"></span></a>
        </div>
    </header>
    <div class="main">
        <div class="cover"><img src="{{ product.primary_image.original.url }}" alt="{{ product.get_title }}" /></div>
        {% block product_main %}
        <div class="description">
            <div class="colophon">
            {% if user.is_authenticated and user.is_staff %}
                <a class="edit" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small>Редактировать</small></a>
            {% endif %}
                <h1>{{ product.get_title }}</h1>
                <h2 class="authors">{{ product.authors }}</h2>
                {% if product.attr.editors %}
                <h2>{{ product.attr.editors }}</h2>
                {% endif %}
                <p>
                {% if product.attr.format %}
                <span class="format">{{ product.attr.format }}</span>
                <br />
                {% endif %}
                {% if product.upc %}
                <span class="SKU">ISBN {{ product.upc }}</span>
                <br />
                {% endif %}
                <span class="musthave">{{ product.stockrecord.partner.name }}, {{ product.attr.year }}.</span>
                </p>
            </div>
            <div class="details__controls">
                {% block product_stock_record %}
                    {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                {% endblock %}
                {% block product_basket_form %}
                    {% include "catalogue/partials/add_to_basket_form.html" %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
    <footer>
    {% block product_info %}
        <div class="toggle">
            <ul class="toggle-controls">
                {% if product.description %}
                <li class="active"><a href="" data-toggle="annotation">описание</a></li>
                {% endif %}
                {% if product.contents %}
                <li ><a href="" data-toggle="contents" >оглавление</a></li>
                {% endif %}
            </ul>
            <ul class="footer__body toggle-body">
                {% if product.description %}
                <li class="active" data-toggle="annotation"><p>{{ product.description|safe }}</p></li>
                {% endif %}
                {% if product.contents %}
                <li data-toggle="contents"><p>{{ product.contents|safe }}</p></li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}
    </footer>
</article>


{% comment %}
========================================
    {% iffeature "reviews" %}
        {% block product_review %}
        <section>
            <div id="reviews" class="sub-header">
                {% if product.num_approved_reviews > 3 %}
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                {% endif %}
                <h2>{% trans "Customer Reviews" %}</h2>
            </div>

            {% if product.num_approved_reviews == 0 %}
                <p>
                    {% if product|is_review_permitted:user %}
                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}This product does not have any reviews yet -
                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "This product does not have any reviews yet" %}.
                    {% endif %}
                </p>
            {% else %}
                <ol class="unstyled review-list">
                    {% for review in reviews|slice:":3" %}
                        <li>
                        {% include 'catalogue/partials/review.html' %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </section>
        {% endblock product_review %}
    {% endiffeature %}

    {% with related_products=product.related_products.all|slice:":6" %}
        {% if related_products %}
            <div class="sub-header">
                <h2>{% trans "Related items" %}</h2>
            </div>
            <ul class="row-fluid">
                {% for product in related_products %}
                <li class="span2 {% if forloop.counter0|divisibleby:"6" %}no-margin{% endif %}">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% with recommended_products=product.recommended_products.all|slice:":6" %}
        {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row-fluid">
                {% for product in recommended_products %}
                <li class="span2 {% if forloop.counter0|divisibleby:"6" %}no-margin{% endif %}">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endcomment %}
