{% extends "base.html" %}
{% load i18n compress %}
{% load staticfiles %}
{% block mainstyles %}
    {% comment %}
    We use an inner block to work-around the fact that django-compressor doesn't work with
    template inheritance.  Ie, we can't just wrap the  with compress tags and
    expect it to compress CSS files added in child templates.
    {% endcomment %}
    {% block styles %}
        {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set USE_LESS = True in your
        settings file.  You will also need to ensure that the 'lessc'
        executable is available and you have COMPRESS_PRECOMPILERS specified
        correctly.
        {% endcomment %}
        {% compress css %}
        {% if use_less %}
            <link rel="stylesheet" type="text/less" href="{% static "oscar/less/styles.less" %}" />
            <link rel="stylesheet" type="text/less" href="{% static "oscar/less/responsive.less" %}" />
            {% else %}
            <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "oscar/css/responsive.css" %}" />
        {% endif %}
        {% endcompress %}
    {% endblock %}
{% endblock %}
{# Local scripts #}
{% block scripts %}
    {% compress js %}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
{% endblock %}

{# Block for body onload functions #}
        {% block onbodyload %}
        oscar.init();
        {% endblock %}
