{% extends "layout.html" %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}


{% block headertext %}
    <span class="cart-header text">мои покупки</span>
{% endblock %}
{% block content %}
        {% block order_contents %}
            {% include "basket/partials/basket_small_grid.html" %}
        {% endblock order_contents %}

        <div class="cart-controls {% block cart-controls-type %}annotated{% endblock %}">
        {% block checkout_login %}
            <div class="user">
                {% if not user.is_authenticated %}
                    <a href="#" class="trigger"><span class="icon enter"></span><span class="text">войти</span></a>
                    <a href="{% url 'customer:login' %}"><span class="text">регистрация</span></a>
                {% endif %}
            </div>
        {% endblock %}
        {% if error %}
            <div >
                {{ error }}
            </div>
        {% endif %}




        {% block shipping_address %}
            {% if shipping_address %}
                <div>
                    <h4>{% trans "Address" %}</h4>
                    <address>
                        {% for field in shipping_address.active_address_fields %}
                            {{ field }}<br/>
                        {% endfor %}
                    </address>

                    {% if shipping_address.phone_number %}
                        <h4>{% trans "Contact" %}</h4>
                        <p>
                        {% trans "Phone" %}: {{ shipping_address.phone_number }}
                        {% if guest_email %}
                            <br/>{% trans "Email" %}: {{ guest_email }}
                        {% endif %}
                        </p>
                    {% endif %}

                    {% if shipping_address.notes %}
                        <h4>{% trans "Instructions" %}</h4>
                        <p>{{ shipping_address.notes|linebreaks }}</p>
                    {% endif %}

                    {% block shipping_address_actions %}
            <a class="button big active" href="{% url "checkout:shipping-address" %}?full=true">изменить адрес&nbsp;<span class="icon white-arrow"></span></a>
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock shipping_address %}

        {% block shipping_method %}
            {% if shipping_method %}
                <div class="cart-controls-bar">
                    <a class="button big active" href="{% url "checkout:shipping-method" %}?full=true">доставка&nbsp;<span class="icon white-arrow"></span>
                    </a><div class="label-big annotated-list"> 
                        <ul>
                            <li>
                            <span class="text">{{ shipping_method.name }}</span>
                            </li>
                        </ul>

                    </div>
                </div>
            {% endif %}
        {% endblock shipping_method %}

        {% block payment_method %}
            {% if payment_method %}
                <div class="cart-controls-bar">
                    <a class="button big active" href="{% url 'checkout:payment-details' %}">оплата&nbsp;<span class="icon white-arrow"></span>
                    </a><div class="label-big annotated-list"> 
                        <ul>
                            <li>
                            <span class="text">{{ payment_method.name }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endblock payment_method %}

        {% block payment_details %}
        {% endblock payment_details %}

        {% block place_order %}
        {% endblock place_order %}
    </div>
{% endblock content %}

