{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_login %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}
    <h4 class="red">пожалуйста, выберите способ оплаты</h4>
    <div class="cart-controls-bar">
        <span class="button big active"><span class="text">оплата&nbsp;<span class="icon white-arrow"></span></span></span><div class="label-big annotated-list">
            {% include "checkout/partials/checkout_controls.html" with method_list=payment_methods %}
        </div>
    </div>
{% endblock %}
