{% extends "checkout/checkout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Confirmation of order" %} {{ order.number }} | {{ block.super }}
{% endblock title %}


{% block content %}
    <div class="cart-controls">
        <div class="cart-controls-bar">
            <h2>Спасибо, Ваш заказ принят.<br>
		Ожидайте информацию по <br>
                электронной почте</h2>
            <p></p>
            {% if order.sources.all.0.source_type.name == "По квитанции" %}
                <a class="blue" href="{% url 'invoice:sbrf_slip' order.pk %}?hash={{ order.verification_hash }}">
                    <span class="text">Скачать квитанцию</span></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
