{% extends "base.html" %}
{% load compress %}
{% load promotion_tags %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% block topbar %}
        <div class="topbar">
            {% block social %}
            <div class="social">
                <a href="https://www.facebook.com/practica.publ"><span class="icon social-f"></span>139</a>
                <a href="http://vk.com/practica.publ"><span class="icon social-b"></span>892</a>
            </div>
            {% endblock %}
            {% include "partials/nav_accounts.html" %}
            {% block toplinks %}
                <div class="conditions">
                    <a href="/shipping/"><span class="icon delivery"></span><span class="text">доставка</span></a>
                    <a href="/payment/"><span class="icon payment"></span><span class="text">оплата</span></a>
                </div>
                <div class="about">
                    <a href="/about/"><span class="icon info"></span><span class="text">издательство</span></a>
                    <a href="/contact/"><span class="icon envelope"></span><span class="text">контакты</span></a>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header>
        <ul class="sub">
        <li class="sub__logo">{% include "partials/brand.html" %}</li>
        <li class="sub__search">{% include "partials/search.html" %}</li>
        <li class="sub__cart">{% block mini_basket %}<div class="cart">{% include "partials/mini_basket.html" %}</div>{% endblock %}</li>
                
        </ul>

        {% block navigation %}
        <!-- Navigator -->
        <nav>
            {% include "partials/nav_primary.html" %}
        </nav>
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
            {% block breadcrumbs %}{% endblock %}
            {% block header %}
                <h1>{% block headertext %}{% endblock %}</h1>
            {% endblock %}
            {% include "partials/alert_messages.html" %}
            {% block subnavigation %}{% endblock %}
            <div class="content">
                {% block subheader %}{% endblock subheader %}

                {# Render promotions #}
                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {# Div exists for AJAX updates to entire content section #}
                <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
