{% extends "base.html" %}
{% load compress %}
{% load promotion_tags %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header>
        <ul class="sub">
        <li class="sub__logo">{% include "partials/brand.html" %}</li>
        <li class="sub__search">{% include "partials/search.html" %}</li>
        <li class="sub__cart">{% block mini_basket %}<div class="cart">{% include "partials/mini_basket.html" %}</div>{% endblock %}</li>
                
        </ul>

        {% block navigation %}
        <!-- Navigator -->
        <nav>
            {% include "partials/nav_primary.html" %}
        </nav>
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
            {% block breadcrumbs %}{% endblock %}
            {% block header %}
                <h1>{% block headertext %}{% endblock %}</h1>
            {% endblock %}
            {% include "partials/alert_messages.html" %}
            {% block subnavigation %}{% endblock %}
            <div class="content">
                {% block subheader %}{% endblock subheader %}

                {# Render promotions #}
                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {# Div exists for AJAX updates to entire content section #}
                <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
