{% extends "layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block headertext %}
    <span class="blue text">регистрация</span>
{% endblock %}

{% block content %}
    <form id="register_form" action="." method="post" class="register-form">
                {% csrf_token %}
            <div class="control-group">
                {% include "partials/form_field_standalone.html" with field=form.email placeholder="введите ваш email" %}
            </div>
            <div class="control-group">
                {% include "partials/form_field_standalone.html" with field=form.password1 placeholder="пароль 6 символов" %}
            </div>
            <div class="control-group">
                {% include "partials/form_field_standalone.html" with field=form.password2 placeholder="повторите пароль" %}
            </div>
                <button type="submit" class="big active">готово&nbsp;<span class="icon white-arrow"></span></button>
                {% if cancel_url %}
                    {% trans "or" %} <a href="{{ cancel_url }}">{% trans "cancel" %}</a>.
                {% endif %}
            </form>
{% endblock content %}
